SERVICE_ACCOUNT_PATH=
SERVICE_ACCOUNT_MAIL=
SERVICE_ACCOUNT_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DEFAULT_USERNAME=interface

#REMOTE DATABASE PROD 
REMOTE_DB_USER=
REMOTE_DB_PASSWORD=